* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px;
  padding: 20px;
  font-size: 60px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

main {
  width: 100%;
  display: flex;
  padding: 2%;
}

.left-sec,
.right-sec {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

.titl {
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.list {
  width: 99%;
  margin-top: 2%;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  text-align: start;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.score-item {
  padding: 5px;
  list-style: none;
}

.score-item:nth-child(odd) {
  background: #ccc;
}

input {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.btn {
  margin: 5px;
  padding: 5px;
  width: 150px;
  font-size: 14px;
  background-color: brown;
  color: white;
}

.btn:hover {
  background-color: rgb(255, 255, 255);
  color: brown;
  cursor: pointer;
}
